#loginform {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#loginform label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#loginform input[type="text"],
#loginform input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#loginform input[type="submit"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginform input[type="submit"]:hover {
    background-color: #0056b3;
}
.bg {
    background-color: blue;
    height: 100vh; /* 100% of the viewport height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
}
