:root {
  --main-font: "Poppins", sans-serif; /* Set your desired font stack */
  /* --colors-black-normal: #000000c9; Set your desired text color */
  /* --cc-1: #fff; Set your desired background color */
  /* --colors-green-dark: #0b7044; */
  /* --colors-green-light: #e7f1ec; */
  --cc-1: #fff;
  --colors-green-light: rgba(231, 241, 236, 1);
  --colors-green-light-hover: rgba(218, 234, 227, 1);
  --colors-green-light-active: rgba(179, 211, 197, 1);

  --colors-green-normal: rgba(11, 112, 68, 1);
  --colors-green-normal-hover: rgba(10, 101, 61, 1);
  --colors-green-normal-active: rgba(9, 90, 54, 1);

  --colors-green-dark: rgba(8, 84, 51, 1);
  --colors-green-dark-hover: rgba(7, 67, 41, 1);
  --colors-green-dark-active: rgba(5, 50, 31, 1);
  --colors-green-darker: rgba(4, 39, 24, 1);

  --colors-black-light: #e7f1ec;
  --colors-black-light-hover: rgba(223, 222, 221, 1);
  --colors-black-light-active: rgba(188, 187, 186, 1);

  --colors-black-normal: rgba(39, 37, 31, 1);
  --colors-black-normal-hover: rgba(35, 33, 28, 1);
  --colors-black-normal-active: rgba(31, 30, 25, 1);

  --colors-black-dark: rgba(29, 28, 23, 1);
  --colors-black-dark-hover: rgba(23, 22, 19, 1);
  --colors-black-dark-active: rgba(18, 17, 14, 1);
  --colors-black-darker: rgba(14, 13, 11, 1);

  --colors-white-light: rgba(255, 255, 255, 1);
  --colors-white-light-active: rgba(255, 255, 255, 1);
  --colors-white-normal: rgba(255, 255, 255, 1);
  --colors-white-light-hover: rgba(255, 255, 255, 1);
  --colors-white-normal-hover: rgba(230, 230, 230, 1);
  --colors-white-normal-active: rgba(204, 204, 204, 1);

  --colors-white-dark: rgba(191, 191, 191, 1);
  --colors-white-dark-hover: rgba(153, 153, 153, 1);
  --colors-white-dark-active: rgba(115, 115, 115, 1);
  --colors-white-darker: rgba(89, 89, 89, 1);

  --colors-card-background: #f7f7f7;
  --colors-card-hover: #e7f1ec;

  --eff-1: 0px 4px 20px 0px rgba(11, 112, 68, 0.7);
  --eff-2: 0px 4px 40px 0px rgba(11, 112, 68, 0.59);
  --eff-3: 10px 9px 15px 0px rgba(0, 0, 0, 0.1);
  --eff-4: 0px -7px 25px 0px rgba(0, 0, 0, 0.06);
  --eff-5: 20px 30px 25px 0px rgba(0, 0, 0, 0.15);
  --err: ;
  --eff-7: 47px 12px 109px 0px rgba(0, 0, 0, 0.31);
}
html {
  scroll-behavior: smooth;
}
:focus {
  outline: none;
}
* {
  font-family: var(--main-font);
  font-weight: normal;
}
/* section set global  */
section {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  background-color: var(--colors-white-light);
}
a {
  text-decoration: none;
}
#scrollButton {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  background-color: var(--colors-green-light-active);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}
.mainNav {
  background-color: var(--colors-green-light);
  position: sticky;
  z-index: 999;
  top: 0;
}

.dropdown {
  display: none;
}
.custom-dropdown {
  display: none;
  margin-left: -34px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
}
.linkNav {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  width: 300px;
}
.linkNav a {
  color: var(--colors-black-normal);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  position: relative;
  font-family: var(--main-font);
}
.linkNav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--colors-green-dark);
  transition: width 0.2s ease; /* Smooth transition effect for the underline */
}
.linkNav a:hover::before,
.linkNav a.active::before {
  width: 100%; /* Apply the same underline effect for hover and active states */
}
.searchNav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
}
.btnSearch {
  padding: 10px;
  border: none;
  background-color: var(--colors-white-light);
  border-radius: 50px;
  font-size: 16px;
  font-weight: normal;
}
form input.search {
  width: 200px;
  border: unset;
  outline: none;
  font-size: small;
  font-family: var(--main-font);
}
.searchNav .btnShop {
  padding-bottom: 50px;
}
.searchNav .btnShop img {
  background-color: var(--colors-green-dark);
  color: var(--cc-1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  margin-top: 6px;
}
/*  main home page */
/* Add your existing styles here */
.main-home-page {
  width: 100%;
  height: 100%;
}
#slider-container {
  padding: 0;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 4.8% 8%;
}

/* Add styles for navigation buttons and dots */
.slider-nav {
  position: absolute;
  top: 50%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

#prevBtn,
#nextBtn {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 100%;
  background: var(--colors-green-light-active, #b3d3c5);
  color: white;
  border: none;
  display: inline-flex;
  margin: 1% 1%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-dot {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider-dots {
  background-color: #d9d9d9;
  border-radius: 90px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: left 2ms ease-in-out;
}

.dot.active {
  background-color: #717171;
}
.img-main-home-page {
  overflow: hidden;
  width: 50%;
  object-fit: contain;
}
.img-main-home-page img {
  width: 530px;
  height: 450px;
  object-fit: contain;
  
}
.text-main-home-page {
  width: 50%;
}
.text-main-home-page h5 {
  color: var(--colors-green-darker, #042718);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2% 5px;
}
.text-main-home-page h6 {
  color: var(--colors-white-dark-active, #737373);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 1% 5px;
}
.text-main-home-page p {
  color: var(--colors-white-dark-active, #737373);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1% 5px;
}
.btn-buy-now-slide {
  display: flex;
  width: 100px;
  height: 40px;
  padding: 5px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--colors-green-normal);
  color: white;
  border-radius: 50px;
}

/* ============footer========== */
.footerMain {
  background-color: var(--colors-green-light);
  height: 400px;
}
.footerSub {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem; /* 40px to rem */
  position: relative;
}

.frame .brand-logo {
  position: relative;
  width: 5.3125rem; /* 85px to rem */
  height: 5.3125rem; /* 85px to rem */
  mix-blend-mode: darken;
}

.frame .div {
  flex-direction: column;
  align-items: center;
  gap: 2.8125rem; /* 45px to rem */
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-2 {
  align-items: flex-start;
  gap: 1.875rem; /* 30px to rem */
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.frame .shop {
  position: relative;
  width: 2.9375rem; /* 47px to rem */
  height: 1.8125rem; /* 29px to rem */
}

.frame .text-wrapper {
  position: absolute;
  top: -0.0625rem; /* -1px to rem */
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--colors-black-light-active);
  font-size: 1.125rem; /* 18px to rem */
  letter-spacing: 0;
  line-height: normal;
}

.frame .popular {
  position: relative;
  width: 4.375rem; /* 70px to rem */
  height: 1.8125rem; /* 29px to rem */
}

.frame .our-product {
  position: relative;
  width: 5rem; /* 80px to rem */
  height: 1.8125rem; /* 29px to rem */
}

.frame .contact-us {
  position: relative;
  width: 6.75rem; /* 108px to rem */
  height: 1.8125rem; /* 29px to rem */
}

.frame .div-3 {
  align-items: center;
  gap: 4.375rem; /* 70px to rem */
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.frame .img {
  position: relative;
  width: 3.125rem; /* 50px to rem */
  height: 3.125rem; /* 50px to rem */
  object-fit: cover;
}
.text-footer {
  height: 80px;
  background-color: var(--colors-green-normal);
}

.text-footer .text-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
/* google Map  */
.googleMapMain {
  height: 650px;
  width: 100%;
}
.googleMapMain .googleMap {
  height: 500px;
  width: 100%;
  padding: 10px 10%;
  border: 10px solid;
}
/* Detail Green Tea css */
.greenTeaDetail {
  padding: 10px 2%;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4% 0px;
}
.text-title {
  padding: 2px 0px;
  gap: 5px;
}
.green-tea-img {
  width: 500px;
  object-fit: fill;
}
.green-tea-img img {
  width: 290px;
  height: 470px;
  flex-shrink: 0;
}
.text-green-tea {
  width: 650px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
}

.underline-price {
  font-weight: 500;
  color: var(--colors-white-dark-active);
  margin-top: 3px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: line-through;
}
/* use global */

.custom-btn-buy-now {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  background-color: var(--colors-green-normal);
  border-radius: 5px;
}

.custom-btn-buy-now .btn-buy-now-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--colors-white-light);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.text-green-tea h1 {
  font-size: 60.1px;
  font-weight: 600;
  color: var(--colors-green-darker);
  letter-spacing: 0;
  line-height: normal;
}
.green-tea-text-p {
  text-align: start;
  width: 90%;
}
.text-green-tea .text-price {
  display: flex;
  gap: 10px;
}
.text-green-tea .green-tea-p-text {
  text-align: start;
}

/* .................Popular Products...................... */

.row-style {
  width: 80%;
  margin: 0 auto;
}
.popular-products {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 50px;
}
.popular-products h2 {
  font-size: 26px;
  font-weight: 600;
  color: var(--colors-green-darker);
}

.product-card {
  max-width: 209px;
  height: 279px;
  margin: auto;
  background-color: var(--colors-card-background);
  padding: 10px;
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.discount {
  position: absolute;
  top: 5px;
  left: -1px;
  background-color: #ff2222;
  color: white;
  padding: 0px 5px;
  margin-top: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.discount .discount-text {
  margin: 3px 0px;
  font-size: 10px;
}

.product-card .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #0b7044;
  cursor: pointer;
  transition: color 0.2s;
}

.product-card .heart-icon.filled {
  color: red;
}

/* .favorite {
  position: absolute;
  top: 10px;
  right: 10px;
} */

.cart-image {
  width: 133.355px;
  height: 139.355px;
  padding: 20px;
  margin-top: 39px;
  object-fit: contain;
  /* background-color: orangered; */
}

.product-card h3 {
  margin-top: 11%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  font-family: "Poppins-Regular", Helvetica;
}
.product-card p {
  font-size: 9px;
  text-align: left;
  margin: -8px 0px 7px 0px;
  font-family: "Poppins-Regular", Helvetica;
}
.product-card h4 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}

.product-card .icon {
  margin: 3px 5px 5px 4px;
  color: #fff;
  font-size: 11px;
}
.product-card .add-to-cart {
  position: absolute;
  top: 88%;
  right: -50px;
  transform: translateY(-50%);
  background-color: #0b7044;
  padding: 5px;
  opacity: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: all 0.2s ease-in-out;
}

.product-card:hover img {
  transform: scale(1.1);
}
.product-card:hover .add-to-cart {
  opacity: 1;
  right: 10px;
}
.product-card:hover {
  background-color: var(--colors-card-hover);
}

/* Small screen for phone and Ipad */
@media (min-width: 375px) and (max-width: 767.98px) {
  .product-card .add-to-cart {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .product-card .add-to-cart {
    opacity: 1;
    right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  .product-card .add-to-cart {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .product-card .add-to-cart {
    opacity: 1;
    right: 10px;
  }
}

/* /////// */

/* See morer button */
.button {
  text-align: center;
  padding: 18px 0 20px 0;
}
.button-seemore {
  background-color: #04aa6d; /* Green */
  border: none;
  border-radius: 31px;
  color: white;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.box {
  height: 13px;
  position: relative;
  width: 100%;
  bottom: 0;
}
.box .vector {
  width: 110px;
  height: 19px;
  margin-top: -35px;
  margin-left: 107px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
}

.box_discount {
  width: 177px;
  height: 13px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.box_discount .vector_discount {
  width: 110px;
  height: 19px;
  margin-top: -35px;
  margin-left: 120px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
}
/* ................................ */

@media (min-width: 768px) and (max-width: 991.98px) {
  .row-style {
    width: 80%;
    margin: 0 auto;
  }
}

.product-card-link {
  color: inherit; /* this makes the link color the same as the text color */
  text-decoration: none; /* this removes the underline */
}
/* ................................ */

/* Get in touch with Us */

.info-text {
  font-family: "Poppins-Regular", Helvetica;
  font-size: 40px;
  font-weight: bold;
  color: var(--colors-green-dark-active);
}

.contact-text-info {
  font-family: "Poppins-Regular", Helvetica;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 25px;
}
.background {
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--colors-green-light) 70%,
    var(--colors-green-normal) 30%
  );
  height: 650px;
}
@media (max-width: 480px) {
  .background {
    width: 100%;
    background: var(--colors-green-light);
    height: auto;
  }
}

.form-container {
  background-color: var(--colors-green-light);
  padding: 30px;
  margin: 50px auto;
  width: 80%;
  padding: 12px 20px;
  height: 500px;
  border: none;
  text-align: left;
}
.form-container .form-style {
  width: 100%;
}

.form-container .form-group {
  margin-bottom: 5%;
  width: 100%;
  
}
input[type="text"],
input[type="email"],
textarea {
  background-color: var(--colors-green-light); /* Light gray background */
  border: none;
  border-bottom: 2px solid gray;
  resize: none;
}

#message:focus {
  outline: none;
}
#email:focus {
  outline: none;
}
#name:focus {
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--colors-green-normal);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.contact-container {
  position: relative;
  background-color: var(--colors-green-dark-active);
  padding: 30px;
  margin: 65px auto;
  width: 80%;
  height: 350px;
  color: #fff;
  text-align: left;
}
.contact-container .info-style {
  display: flex;
  align-items: center;
  margin: 10px;
}
.info-text-style {
  margin-left: 10px;
}

.icon-info {
  margin-bottom: 16px;
}

.contact-container .small-box {
  position: absolute;
  top: -18px;
  left: -21px;
  width: 45px;
  height: 45px;
  background: var(--colors-green-normal);
}

/* ...................................... */

@media (min-width: 768px) and (max-width: 991.98px) {
  .dropdown {
    display: none;
  }
  .navbar {
    padding: 10px 4%;
    max-width: auto;
  }
  .linkNav {
    gap: 0.2rem;
  }
  .linkNav a {
    font-size: 0.7rem;
  }
  .logoNav {
    display: none;
  }
  .btnSearch {
    padding: 8px;
    font-size: 0.7rem;
  }
  form input.search {
    width: 170px;
    font-size: small;
  }
  .searchNav .btnShop {
    padding-bottom: 50px;
  }
  .searchNav .btnShop img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }
  /* ============footer========== */
  .footerMain {
    background-color: var(--colors-green-light);
    height: 300px;
  }

  .text-footer {
    height: 65px;
    background-color: var(--colors-green-normal);
  }

  .text-footer .text-wrapper {
    font-size: 15px;
  }
  /* google Map  */
  .googleMapMain {
    height: 450px;
    width: 100%;
  }
  .googleMapMain .googleMap {
    height: 350px;
    width: 100%;
    padding: 10px 10%;
    border: 10px solid;
  }

  /* Detail Green Tea css */
  .greenTeaDetail {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4% 0px;
  }
  .green-tea-img {
    width: 400px;
    padding-top: 10px;
    padding-right: 100px;
    margin-right: 0%;
  }
  .text-green-tea {
    width: 600px;
    gap: 30px;
  }

  .underline-price {
    font-weight: 500;
    color: var(--colors-white-dark-active);
    margin-top: 3px;
    font-size: 16px;
  }
  /* use global */
  .green-tea-text-p {
    text-align: start;
    font-size: 15px;
  }

  .custom-btn-buy-now {
    width: 100px;
    gap: 10px;
    padding: 12px 20px;
    background-color: var(--colors-green-normal);
    border-radius: 5px;
  }

  .custom-btn-buy-now .btn-buy-now-text {
    margin-top: -1px;
    font-weight: 500;
    color: var(--colors-white-light);
    font-size: 16px;
  }

  .text-green-tea h1 {
    font-size: 41.1px;
    font-weight: 600;
    color: var(--colors-green-darker);
    letter-spacing: 0;
  }

  .text-green-tea .text-price {
    display: flex;
    gap: 10px;
  }

  .img-main-home-page img {
    width: 350px;
    height: 320px;
    object-fit: cover;
  }
  .text-main-home-page h1 {
    color: var(--colors-green-darker, #042718);
    font-size: 18px;
  }
  .text-main-home-page h6 {
    color: var(--colors-white-dark-active, #737373);
    font-size: 15px;
  }
  .text-main-home-page p {
    color: var(--colors-white-dark-active, #737373);
    font-size: 10px;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .popular-products .vector {
    display: none;
  }
  .popular-products .vector_discount{
    display: none;
  }
  .background{
    height: auto;
  }

  .info-text{
    margin-top: -70px;
  }

  .navbar {
    padding: 10px 10%;
    justify-content: space-around;
  }
  .linkNav {
    display: none;
  }
  .logoNav {
    display: none;
  }
  .btnSearch {
    padding: 8px;
    font-size: 0.7rem;
  }
  form input.search {
    width: 100px;
    font-size: small;
  }
  .searchNav {
    width: 150px;
    gap: 7px;
  }
  .searchNav .btnShop {
    padding-bottom: 43px;
  }
  .searchNav .btnShop img {
    margin-top: 5px;
    width: 35px;
    height: 35px;
  }
  .custom-dropdown {
    position: relative;
    display: inline-block;
  }
  .custom-btn {
    background-color: var(--colors-green-dark);
    color: var(--cc-1);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition on background color */
  }

  .custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cc-1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0; /* Initially, set opacity to 0 */
    transform: translateY(-10px); /* Move it up slightly to hide */
    transition: opacity 0.3s, transform 0.3s; /* Add smooth transition on opacity and transform */
  }

  .custom-dropdown-content a {
    color: var(--colors-black-normal);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .custom-dropdown-content .actions {
    background-color: var(--colors-green-light);
    color: var(--colors-green-dark);
  }

  .custom-dropdown-content a:hover {
    background-color: var(--colors-green-light);
    color: var(--colors-green-dark);
  }

  .custom-dropdown:hover .custom-btn {
    background-color: #0000003e; /* Change the background color when hovering on the dropdown */
  }

  .custom-dropdown:hover .custom-dropdown-content {
    display: block;
    opacity: 1; /* Fade in the content */
    transform: translateY(0); /* Move it back to its original position */
  }
  /* ============footer========== */
  footerMain {
    background-color: var(--colors-green-light);
    height: 300px;
  }
  .text-footer {
    height: 40px;
    background-color: var(--colors-green-normal);
  }

  .text-footer .text-wrapper {
    padding-top: 12px;
    font-size: 10px;
  }
  .frame .text-wrapper {
    left: 1.5rem;
    font-size: 0.9rem; /* 18px to rem */
  }
  .frame .div-3 {
    gap: 1rem; /* 70px to rem */
  }
  .frame .img {
    width: 2.5; /* 50px to rem */
    height: 2.5; /* 50px to rem */
  }
  .frame .div-2 {
    gap: 1rem; /* 30px to rem */
  }
  /* google Map  */
  .googleMapMain {
    height: 400px;
    width: 100%;
  }
  .googleMapMain .googleMap {
    height: 350px;
    width: 100%;
    padding: 10px 10%;
    border: 10px solid;
  }
  /* Detail Green Tea css */
  .greenTeaDetail {
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4% 0px;
  }
  .green-tea-img {
    width: 250px;
  }
  .green-tea-img img {
    width: 250px;
    height: 400px;
  }
  .text-green-tea {
    margin: 0 auto;
    width: 300px;
    gap: 10px;
  }
  .underline-price {
    font-size: 16px;
  }
  /* use global */

  .custom-btn-buy-now {
    gap: 10px;
    padding: 12px 20px;
    background-color: var(--colors-green-normal);
    border-radius: 5px;
    margin: 0 auto;
  }

  .custom-btn-buy-now .btn-buy-now-text {
    margin-top: -1px;
    color: var(--colors-white-light);
    font-size: 16px;
  }

  .text-green-tea h1 {
    font-size: 30.1px;
    margin: 0 auto;
    font-weight: 600;
    color: var(--colors-green-darker);
    letter-spacing: 0;
    line-height: normal;
  }
  .text-green-tea .text-price {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
  }
  .text-green-tea .green-tea-text-p {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
  }
  .revert-green-tea2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .text-title {
    margin: 0 auto;
  }
  .slide {
    display: flex;
    flex-direction: column-reverse;
  }
  .img-main-home-page {
    width: 120%;
    height: 100%;
    padding: 2% 2%;
  }

  .img-main-home-page img {
    width: 368px;
    height: 340px;
    object-fit: cover;
    padding: 3% 5%;
  }
  .text-main-home-page {
    width: 100%;
  }
  .text-main-home-page h1 {
    color: var(--colors-green-darker, #042718);
    font-size: 25px;
    text-align: center;
  }
  .text-main-home-page h6 {
    color: var(--colors-white-dark-active, #737373);
    font-size: 15px;
    text-align: center;
  }
  .text-main-home-page p {
    color: var(--colors-white-dark-active, #737373);
    font-size: 10px;
    text-align: center;
    padding: 10px 5%;
  }
  .btn-buy-now-slide {
    margin: 0 auto;
  }
  .slider-nav {
    display: none;
  }
  .main-dot {
    display: none;
  }

  .slider {
    display: flex;
    overflow-x: hidden;
    transition: transform 0.5s ease;
  }

  .slide {
    flex: 0 0 100%; /* Ensure each slide takes up the full width of the container */
  }

  .slider-nav button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .slider-dots {
    text-align: center;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .dot.active {
    background-color: #717171;
  }
}

